.card {
  box-shadow: 0 0 1px gray;
}
.card-md {
  box-shadow: 0 0 2px rgb(89, 89, 89);
}
.divider {
  border-bottom: 1px solid gray;
  margin: 10px 0;
}
.loader-parent {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  height: 80px;
  width: 80px;
  border: 5px solid white;
  border-top: 0 !important;
  border-radius: 50%;
  border-left-color: transparent;
  animation: loader 2s linear infinite;
}
.option {
  box-shadow: rgb(0, 0, 0.638) 0px 0px 1.5px;
  padding: 10px;
  border-radius: 2px;
}
.selected-option {
  box-shadow: rgb(0, 0, 0.638) 0px 0px 1px;
  padding: 10px;
  border-radius: 2px;
  border: 2px solid var(--primary);
}
.result {
  padding-left: 60px;
  background-color: rgb(16, 151, 144);

  width: 30%;
  height: 40vh;
  color: aliceblue;
  border-radius: 5px;
}
.lottie-animation {
  height: 300px;
}
.timer {
  background-color: rgb(200, 115, 4);
  color: aliceblue;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
